# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.out
/*.out
/*/*.out
/*~
/*/*~
/*/*/*~

/working/nul
/working/worker_pool_flymake.c
/working/*#*

/n1570.pdf
/working/array_size_flymake.h
