# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.out
/*.out
/*/*.out
/*~
/*/*~
/*/*/*~

/working/nul
/working/worker_pool_flymake.c
/working/*#*

/n1570.pdf
/working/array_size_flymake.h
/working/mergesort-recursive.c
/working/quicksort-recursive.c
/working/bsort.csvmgcc
/working/tmp.log
/mergesort_data.csv
/working/cachegrind.out.1927
/working/cachegrind.out.6378
/working/merge_data.csv
